.consume-space{
    flex : 1 1 auto;
  }
 
 .feedback-card{
     margin : 20px;
 }
 
 .curve-border{
   border-radius: 5px;
   background: #fff;
 }
 .central-block{
   padding : 20px 0;
 }
.mat-tab-label{
  font-size: 14px;
  line-height: 18px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #7c8089;
}