<div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutAlign="center flex-start" class="central-block">
  <div fxFlex="0 1 calc(25% -30px)" fxFlex.lt-md="100%" fxFlex.lt-sm="100%" class="mat-elevation-z8 curve-border">
    <app-user-profile [feedbacks]=feedbacks></app-user-profile>
  </div>
 
  <div fxFlex="0 1 calc(50% -30px)" fxFlex.lt-md="100%" fxFlex.lt-sm="100%" class="mat-elevation-z8 curve-border">
            <app-feedback *ngFor="let feedback of feedbacks; index as i; " [feedback]="feedback"></app-feedback>
  </div>
  <div fxFlex="0 1 calc(25% -30px)" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
  </div>
</div>
