.mat-toolbar.toolbar { 
    color: #fff !important;
    background: #1976d2 !important;
    border-radius: 2px;
  }
  .toolbar.mat-toolbar h1{
    font-family: sans-serif !important;
    text-shadow: 4px 4px 4px #aaa !important;
    font-size: 4vh;
  }
  .toolbar_icons{
      color : #fff;
  }
  .inner-link{
     text-decoration : none; 
    color: #fff;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-transform: uppercase;

  }
  .spinner-wrapper{
    background: none repeat scroll 0 0 black;
    position: fixed;
    display: block;
    opacity: 0.5;
    z-index: 999; 
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .loader-margin{
    position:absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100001;
  }