.mat-toolbar.toolbar { 
    color: #fff !important;
    background: #18181a !important;
    border-radius: 2px;
  }
  .toolbar.mat-toolbar h1{
    font-family: sans-serif !important;
    text-shadow: 4px 4px 4px #aaa !important;
    font-size: 4vh;
  }