<mat-card class=" feedback-card">
    <mat-card-header>
      <mat-card-title>Employee Name: {{feedback.empName}}</mat-card-title>
      <mat-card-subtitle>Feedback Status : Pending</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center flex-start">
      <mat-form-field class="full-width">
        <mat-label>Select Rating</mat-label>
        <mat-select [formControl]="ratingControl" required>
          <mat-option *ngFor="let rating of ratings" [value]="rating.value">
            {{rating.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="ratingControl.hasError('required')">Please choose rating</mat-error>
       </mat-form-field>
       <mat-form-field class="full-width fbDetArea">
        <textarea matInput placeholder="Detailed Feedback" [formControl]="detailFbControl" required></textarea>
        <mat-error *ngIf="detailFbControl.hasError('required')">Please enter detailed feedback</mat-error>
       </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>